In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_wine
from sklearn.decomposition import PCA, FactorAnalysis
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [41]:
from sklearn.datasets import load_wine
wine = load_wine()
df = pd.DataFrame(data=np.c_[wine['data'], wine['target']], columns=wine['feature_names']+['target'])
df['target'] = df['target'].map({0:'class_0', 1:'class_1', 2:'class_2'})
df.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline   target
0    14.23        1.71  2.43  ...                          3.92   1065.0  class_0
1    13.20        1.78  2.14  ...                          3.40   1050.0  class_0
2    13.16        2.36  2.67  ...                          3.17   1185.0  class_0
3    14.37        1.95  2.50  ...                          3.45   1480.0  class_0
4    13.24        2.59  2.87  ...                          2.93    735.0  class_0

[5 rows x 14 columns]

In [42]:
df.shape

(178, 14)

In [43]:
df.describe()

          alcohol  malic_acid  ...  od280/od315_of_diluted_wines      proline
count  178.000000  178.000000  ...                    178.000000   178.000000
mean    13.000618    2.336348  ...                      2.611685   746.893258
std      0.811827    1.117146  ...                      0.709990   314.907474
min     11.030000    0.740000  ...                      1.270000   278.000000
25%     12.362500    1.602500  ...                      1.937500   500.500000
50%     13.050000    1.865000  ...                      2.780000   673.500000
75%     13.677500    3.082500  ...                      3.170000   985.000000
max     14.830000    5.800000  ...                      4.000000  1680.000000

[8 rows x 13 columns]

In [0]:
features = ['alcohol',
  'malic_acid',
  'ash',
  'alcalinity_of_ash',
  'magnesium',
  'total_phenols',
  'flavanoids',
  'nonflavanoid_phenols',
  'proanthocyanins',
  'color_intensity',
  'hue',
  'od280/od315_of_diluted_wines',
  'proline']
X = df.loc[:, features].values
Y = df.loc[:, ['target']].values

In [74]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state= 40)
print(X_train.shape) ; print(X_test.shape)

(124, 13)
(54, 13)

In [0]:
X_train_scaled = StandardScaler().fit_transform(X_train)
X_test_scaled = StandardScaler().fit_transform(X_test)

In [76]:
model = LogisticRegression()
model.fit(X_train_scaled, Y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [77]:
print(model.score(X_train_scaled, Y_train))
print(model.score(X_test_scaled, Y_test))

1.0
0.9629629629629629

In [0]:
features = ['alcohol',
  'malic_acid',
  'ash',
  'alcalinity_of_ash',
  'magnesium',
  'total_phenols',
  'flavanoids',
  'nonflavanoid_phenols',
  'proanthocyanins',
  'color_intensity',
  'hue',
  'od280/od315_of_diluted_wines',
  'proline']
X = df.loc[:, features].values
Y = df.loc[:, ['target']].values
X = StandardScaler().fit_transform(X) # Standardization using Standard Scaler

In [100]:
covariance_matrix = np.cov(X.T)

print(covariance_matrix)

[[ 1.00564972  0.09493026  0.21273976 -0.31198788  0.27232816  0.29073446
   0.23815287 -0.15681042  0.13747022  0.549451   -0.07215255  0.07275191
   0.64735687]
 [ 0.09493026  1.00564972  0.16497228  0.29013035 -0.05488343 -0.3370606
  -0.41332866  0.29463237 -0.22199334  0.25039204 -0.56446685 -0.37079354
  -0.19309537]
 [ 0.21273976  0.16497228  1.00564972  0.44587209  0.28820583  0.12970824
   0.11572743  0.1872826   0.00970647  0.2603499  -0.07508874  0.00393333
   0.22488969]
 [-0.31198788  0.29013035  0.44587209  1.00564972 -0.0838039  -0.32292752
  -0.353355    0.36396647 -0.19844168  0.01883781 -0.27550299 -0.27833221
  -0.44308618]
 [ 0.27232816 -0.05488343  0.28820583 -0.0838039   1.00564972  0.21561254
   0.19688989 -0.25774204  0.23777643  0.20107967  0.05571118  0.06637684
   0.39557317]
 [ 0.29073446 -0.3370606   0.12970824 -0.32292752  0.21561254  1.00564972
   0.86944804 -0.45247731  0.61587304 -0.05544792  0.43613151  0.70390388
   0.50092909]
 [ 0.23815287 -0.41332866  0.11572743 -0.353355    0.19688989  0.86944804
   1.00564972 -0.54093859  0.65637929 -0.17335329  0.54654907  0.79164133
   0.49698518]
 [-0.15681042  0.29463237  0.1872826   0.36396647 -0.25774204 -0.45247731
  -0.54093859  1.00564972 -0.36791202  0.13984265 -0.26412347 -0.50611293
  -0.31314443]
 [ 0.13747022 -0.22199334  0.00970647 -0.19844168  0.23777643  0.61587304
   0.65637929 -0.36791202  1.00564972 -0.02539259  0.29721399  0.52199968
   0.33228346]
 [ 0.549451    0.25039204  0.2603499   0.01883781  0.20107967 -0.05544792
  -0.17335329  0.13984265 -0.02539259  1.00564972 -0.52476129 -0.43123763
   0.31788599]
 [-0.07215255 -0.56446685 -0.07508874 -0.27550299  0.05571118  0.43613151
   0.54654907 -0.26412347  0.29721399 -0.52476129  1.00564972  0.56866303
   0.23751782]
 [ 0.07275191 -0.37079354  0.00393333 -0.27833221  0.06637684  0.70390388
   0.79164133 -0.50611293  0.52199968 -0.43123763  0.56866303  1.00564972
   0.31452809]
 [ 0.64735687 -0.19309537  0.22488969 -0.44308618  0.39557317  0.50092909
   0.49698518 -0.31314443  0.33228346  0.31788599  0.23751782  0.31452809
   1.00564972]]

In [101]:
eig_vals, eig_vecs = np.linalg.eig(covariance_matrix)

print('eigenvalue :', eig_vals) # eigen values
print('eigenvector :', eig_vecs) # eigen vectors

eigenvalue : [4.73243698 2.51108093 1.45424187 0.92416587 0.85804868 0.64528221
 0.55414147 0.10396199 0.35046627 0.16972374 0.29051203 0.22706428
 0.25232001]
eigenvector : [[-0.1443294   0.48365155 -0.20738262  0.0178563  -0.26566365  0.21353865
   0.05639636 -0.01496997  0.39613926 -0.26628645 -0.50861912 -0.22591696
   0.21160473]
 [ 0.24518758  0.22493093  0.08901289 -0.53689028  0.03521363  0.53681385
  -0.42052391 -0.02596375  0.06582674  0.12169604  0.07528304  0.07648554
  -0.30907994]
 [ 0.00205106  0.31606881  0.6262239   0.21417556 -0.14302547  0.15447466
   0.14917061  0.14121803 -0.17026002 -0.04962237  0.30769445 -0.49869142
  -0.02712539]
 [ 0.23932041 -0.0105905   0.61208035 -0.06085941  0.06610294 -0.10082451
   0.28696914 -0.09168285  0.42797018 -0.05574287 -0.20044931  0.47931378
   0.05279942]
 [-0.14199204  0.299634    0.13075693  0.35179658  0.72704851  0.03814394
  -0.3228833  -0.05677422 -0.15636143  0.06222011 -0.27140257  0.07128891
   0.06787022]
 [-0.39466085  0.06503951  0.14617896 -0.19806835 -0.14931841 -0.0841223
   0.02792498  0.46390791 -0.40593409 -0.30388245 -0.28603452  0.30434119
  -0.32013135]
 [-0.4229343  -0.00335981  0.1506819  -0.15229479 -0.10902584 -0.01892002
   0.06068521 -0.83225706 -0.18724536 -0.04289883 -0.04957849 -0.02569409
  -0.16315051]
 [ 0.2985331   0.02877949  0.17036816  0.20330102 -0.50070298 -0.25859401
  -0.59544729 -0.11403985 -0.23328465  0.04235219 -0.19550132  0.11689586
   0.21553507]
 [-0.31342949  0.03930172  0.14945431 -0.39905653  0.13685982 -0.53379539
  -0.37213935  0.11691707  0.36822675 -0.09555303  0.20914487 -0.23736257
   0.1341839 ]
 [ 0.0886167   0.52999567 -0.13730621 -0.06592568 -0.07643678 -0.41864414
   0.22771214  0.0119928  -0.03379692  0.60422163 -0.05621752  0.0318388
  -0.29077518]
 [-0.29671456 -0.27923515  0.08522192  0.42777141 -0.17361452  0.10598274
  -0.23207564  0.08988884  0.43662362  0.259214   -0.08582839 -0.04821201
  -0.52239889]
 [-0.37616741 -0.16449619  0.16600459 -0.18412074 -0.10116099  0.26585107
   0.0447637   0.15671813 -0.07810789  0.60095872 -0.1372269   0.0464233
   0.52370587]
 [-0.28675223  0.36490283 -0.12674592  0.23207086 -0.1578688   0.11972557
  -0.0768045  -0.01444734  0.12002267 -0.07940162  0.57578611  0.53926983
   0.162116  ]]

In [0]:
# PCA를 진행합니다.
pca = PCA(n_components=3)
X_pca = pca.fit_transform(X) # PCA 적합

In [105]:
pca.explained_variance_ratio_

array([0.36198848, 0.1920749 , 0.11123631])

In [0]:
X_train, X_test = train_test_split(X_pca, test_size=0.3, random_state= 40)

In [114]:
model.fit(X_train, Y_train)
model.score(X_test, Y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9629629629629629